spring:
  messages:
    encoding: UTF-8
  mongodb:
      host: ${MONGO_HOST}
      port: ${MONGO_PORT}
      database: ${MONGO_DB}
      username: ${MONGO_USER}
      password: ${MONGO_PASS}
      authentication-database: admin